<mat-card>
    <mat-card-title>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-title>
    <mat-card-subtitle>{{ roles | findValue : loggedInUser.role : selectedLanguage}}</mat-card-subtitle>
    <mat-card-content *ngIf="loggedInUser.role !== 1">
        <mat-accordion multi="true">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    {{'profile-components.biological_info' | translate}}
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-label class="label-name">{{'profile-components.age' | translate}}:</mat-label>
                    <mat-label>{{loggedInUser.age ? loggedInUser.age : 'N/A'}}</mat-label>
                </div>
                &nbsp;
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-label class="label-name">{{'profile-components.gender' | translate}}:</mat-label>
                    <mat-label>{{ sex | findValue : loggedInUser.sex : selectedLanguage}}</mat-label>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    {{'profile-components.geographical_info' | translate}}
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-label class="label-name">{{'profile-components.address' | translate}}:</mat-label>
                    <mat-label>{{loggedInUser.address}}</mat-label>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                    <img src="{{getStaticMap(loggedInUser.address)}}"/>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    {{'profile-components.research_info' | translate}}
                </mat-expansion-panel-header>
                <mat-label>{{'profile-components.participated_in' | translate}} {{loggedInUser.studies.length}} {{'profile-components.studies' | translate}}.</mat-label>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>