<mat-card>
    <mat-card-title>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-title>
    <mat-card-subtitle>{{ roles | findValue : loggedInUser.role : selectedLanguage}}</mat-card-subtitle>
    <mat-card-content *ngIf="loggedInUser.role == 0">
        <mat-accordion multi="true">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    Biological Information
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-label class="label-name">Age:</mat-label>
                    <mat-label>{{loggedInUser.age ? loggedInUser.age : 'N/A'}}</mat-label>
                </div>
                &nbsp;
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-label class="label-name">Sex:</mat-label>
                    <mat-label>{{ sex | findValue : loggedInUser.sex : selectedLanguage}}</mat-label>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    Location Information
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-label class="label-name">Address:</mat-label>
                    <mat-label>{{loggedInUser.address}}</mat-label>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                    <img src="{{getStaticMap(loggedInUser.address)}}"/>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    Research Information
                </mat-expansion-panel-header>
                <mat-label>Participated in {{loggedInUser.studies.length}} studies.</mat-label>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>