
<mat-toolbar color="primary">
    <span>
        <a routerLink="/">{{'app-header.project_name' | translate}}</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <button mat-button (click)="clickLanguage();">{{'app-header.language' | translate}}</button>
        </li>
        <li>
            <button mat-button routerLink="/profile">{{'app-header.profile' | translate}}</button>
        </li>
        <li>
            <button mat-button routerLink="/available-studies">{{'app-header.studies' | translate}}</button>
        </li>
        <li>
            <button mat-button routerLink="/users">{{'app-header.users' | translate}}</button>
        </li>
        <mat-divider [vertical]="true"></mat-divider>
        <li>
            <button mat-button>{{'app-header.logout' | translate}}</button>
        </li>
    </ul>
</mat-toolbar>