
<mat-toolbar color="primary">
    <span>
        <a routerLink="/">Link the Masses</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <button mat-button routerLink="/profile">Profile</button>
        </li>
        <li>
            <button mat-button routerLink="/available-studies">Studies</button>
        </li>
        <li>
            <button mat-button routerLink="/users">Users</button>
        </li>
        <mat-divider [vertical]="true"></mat-divider>
        <li>
            <button mat-button routerLink="/login">Login</button>
        </li>
        <li>
            <button mat-button>Logout</button>
        </li>
    </ul>
</mat-toolbar>