<div *ngIf="!showLoginForm && !showRegisterForm">
<p>LANDING PAGE</p>
<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
<div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="center center">
  <button color="accent" mat-raised-button (click)="loginForm()">Login</button>
  &nbsp;
  <button color="accent" mat-raised-button (click)="register()">Register</button>
</div>
</div>


<mat-card *ngIf="!showRegisterForm && showLoginForm">
  <mat-card-title>Login</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Username" name="username" [(ngModel)]="username"
        [formControl]="usernameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="usernameFormControl.hasError('invalid')">
            <strong>Valid</strong> username is required
          </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password">
    </mat-form-field>
  </form>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-actions align="end">
    <button color="accent" mat-raised-button (click)="login(username, password)">Login</button>
    &nbsp;
    <button color="accent" mat-raised-button (click)="showLoginForm = false">Close</button>
    <!-- <button color="accent" mat-raised-button (click)="register()">Register</button> -->
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="showRegisterForm">
  <mat-card-title>Register</mat-card-title>
  <div class="register-form">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="model.username">
      <mat-hint>* Required Field</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select a role</mat-label>
      <mat-select [(ngModel)]="model.role" (click)="model.role = $event.id">
          <mat-option *ngFor="let role of roles" [value]="role.id">
              {{selectedLanguage === 'en' ? role.nameEn : role.nameFr}}
          </mat-option>
      </mat-select>
      <mat-hint>* Required Field</mat-hint>
    </mat-form-field>
    <mat-card *ngIf="model.role === 0 || model.role === 2">
      <mat-card-subtitle><strong>Profile Information</strong></mat-card-subtitle>
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="model.firstName">
        <mat-hint>* Required Field</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="model.lastName">
        <mat-hint>* Required Field</mat-hint>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="1em">
        <mat-form-field>
          <input matInput type="number" placeholder="Age" [(ngModel)]="model.age">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sex</mat-label>
          <mat-select [(ngModel)]="model.sex" (click)="model.sex = $event.id">
              <mat-option *ngFor="let s of sex" [value]="s.id">
                  {{selectedLanguage === 'en' ? s.nameEn : s.nameFr}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="model.address">
      </mat-form-field>
    </mat-card>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-actions align="end">
    <button color="accent" mat-raised-button (click)="create()">Submit</button>
    <button color="accent" mat-raised-button (click)="close()">Close</button>
  </mat-card-actions>
</mat-card>