.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

p {
    font-size: small;
}

.spacer {
    flex: 1 1 auto;
}

ul {
    display: flex;
    list-style: none;
    padding-top: 0.25em;
    margin: 0;
}