<mat-toolbar color="secondary" class="footer">
    <p>2019 © Link the Masses. All Rights Reserved.</p>
    <span class="spacer"></span>
    <!-- https://icons8.com/icon/set/social-media/material-outlined -->
    <ul>
        <li>
            <img src="https://img.icons8.com/material-outlined/24/000000/google-plus.png">
        </li>
        &nbsp;
        <li>
            <img src="https://img.icons8.com/material-outlined/24/000000/facebook-circled.png">
        </li>
        &nbsp;
        <li>
            <img src="https://img.icons8.com/material-outlined/24/000000/twitter.png">
        </li>
        &nbsp;
        <li>
            <img src="https://img.icons8.com/material-outlined/24/000000/linkedin.png">
        </li>
    </ul>
</mat-toolbar>