<div *ngIf="showDemo" style="padding-bottom: 3em">
    <mat-card *ngIf="model.type === 0">
            <mat-card-title class="entry-card-title">{{model.title}}</mat-card-title>
            <mat-card-subtitle>{{studyTypes | findValue : model.type : selectedLanguage}}</mat-card-subtitle>
            <mat-card>
                <mat-card-subtitle><strong>Creation Date:</strong> {{ model.creationDate | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
                <mat-card-subtitle><strong>Author:</strong> {{ model.researcher }}</mat-card-subtitle>
            </mat-card>
            <mat-card-content>
                <div class="qa" *ngFor="let question of model.questions; let i = index">
                    <div fxLayout="row" fxLayoutGap="1em">
                        <label><strong>Question {{i + 1}}:</strong></label>
                        <label>{{ question.question }}</label>
                    </div>
                    &nbsp;
                    <mat-radio-group fxLayout="row" fxLayoutAlign="space-evenly" (change)="question.answer = +$event.value">
                        <mat-radio-button value="1">Strongly Disagree</mat-radio-button>
                        <mat-radio-button value="2">Disagree</mat-radio-button>
                        <mat-radio-button value="3">Neutral</mat-radio-button>
                        <mat-radio-button value="4">Agree</mat-radio-button>
                        <mat-radio-button value="5">Strongly Agree</mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-actions align="end">
                <button mat-button (click)="submitStudy()">Submit</button>
                <button mat-button (click)="close()">Close</button>
            </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="model.type === 1">
            <mat-card-title class="entry-card-title">{{model.title}}</mat-card-title>
            <mat-card-subtitle>{{studyTypes | findValue : model.type : selectedLanguage}}</mat-card-subtitle>
            <mat-card-content>
                <p><strong>Researcher: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p align="right"><strong>Participant: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><strong>Researcher: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p align="right"><strong>Participant: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                &nbsp;
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-form-field>
                        <input matInput placeholder="Start chatting">
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-actions align="end">
                <button mat-button>Submit</button>
                <button mat-button (click)="close()">Close</button>
            </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="model.type === 2">
            <mat-card-title class="entry-card-title">{{model.title}}</mat-card-title>
            <mat-card-subtitle>{{studyTypes | findValue : model.type : selectedLanguage}}</mat-card-subtitle>
            <mat-card-content>
                <p>Entry 1</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                    eget aliquam urna. Quisque aliquet lacinia lacus at ultrices. Suspendisse 
                    ac quam feugiat, congue ligula vitae, varius dui. Donec pulvinar auctor 
                    purus vitae gravida. Interdum et malesuada fames ac ante ipsum primis 
                    in faucibus. Pellentesque molestie ultricies consequat. Donec tristique 
                    iaculis lorem, non mattis eros finibus vitae.</p>
                &nbsp;
                <p>Entry 2</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                    eget aliquam urna. Quisque aliquet lacinia lacus at ultrices. Suspendisse 
                    ac quam feugiat, congue ligula vitae, varius dui. Donec pulvinar auctor 
                    purus vitae gravida. Interdum et malesuada fames ac ante ipsum primis 
                    in faucibus. Pellentesque molestie ultricies consequat. Donec tristique 
                    iaculis lorem, non mattis eros finibus vitae.</p>
                <div fxLayout="row" fxLayoutGap="1em">
                    <mat-form-field>
                        <input matInput placeholder="Start entry">
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-actions align="end">
                <button mat-button>Submit</button>
                <button mat-button (click)="close()">Close</button>
            </mat-card-actions>
    </mat-card>
</div>

<mat-tab-group *ngIf="loggedInUser.role === 0 || loggedInUser.role === 2">
    <mat-tab label="Available"></mat-tab>
    <mat-tab label="In Progress"></mat-tab>
    <mat-tab label="Completed"></mat-tab>
</mat-tab-group>

<div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="center center">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <button color="accent" mat-raised-button (click)="addEntry()"
        *ngIf="loggedInUser.role === 0 || loggedInUser.role === 1">Add</button>
</div>

<div *ngIf="entryFlag || editEntryFlag">
    <mat-card>
        <mat-card-title class="entry-card-title">{{editEntryFlag ? "Edit Entry" : "Add Entry"}}</mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="1em">
                <mat-form-field>
                    <input matInput placeholder="Enter a title" [(ngModel)]="model.title">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select a type</mat-label>
                    <mat-select [(ngModel)]="model.type" (click)="model.type = $event.id">
                        <mat-option *ngFor="let type of studyTypes" [value]="type.id">
                            {{selectedLanguage === 'en' ? type.nameEn : type.nameFr}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="model.type===0">
                <div *ngFor="let question of model.questions; let i = index" fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field>
                        <input matInput placeholder="Question {{i + 1}}" [(ngModel)]="question.question">
                    </mat-form-field>
                    <button mat-icon-button (click)="removeQuestion(i)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-icon-button (click)="addQuestion()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-actions align="end">
            <button mat-button (click)="edit()" *ngIf="editEntryFlag">Update</button>
            <button mat-button (click)="create()" *ngIf="!editEntryFlag">Submit</button>
            <button mat-button (click)="close()">Close</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
</div>

<div class="mat-elevation-z1">
    <table mat-table [dataSource]="questionnaires" matSort>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titile </th>
            <td mat-cell *matCellDef="let questionnaire"> {{questionnaire.title}} </td>
        </ng-container>
        
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let questionnaire">{{studyTypes | findValue : questionnaire.type : selectedLanguage}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let questionnaire">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editEntry(questionnaire)"
                        *ngIf="loggedInUser.role === 0 || loggedInUser.role === 1">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="delete(questionnaire)"
                        *ngIf="loggedInUser.role === 0 || loggedInUser.role === 1">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="loadEntry(questionnaire)"
                        *ngIf="loggedInUser.role === 0 || loggedInUser.role === 2">
                        <mat-icon>edit</mat-icon>
                        <span>Start</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>