.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.entry-card-title {
    font-size: medium;
}

.qa {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

mat-tab-group {
    margin-bottom: 1em;
}